@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --background: #1E1F21;
  --childbg: #171819;
  --primary: #F66D6D;
  --primary-alpha: #AD5151;
  --secondary: #b0b0b0;
  --selection: #4e4e4e1e;
  --content-border: #565758;
}

body {
    box-sizing: border-box;
    background-color: var(--background);
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.main {
    z-index: 50;
    display: flex;
    background-image: url("../img/star.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(100vw - 25px) calc(100vh - 30px);
}

::selection {
    background: var(--selection);
}

/* sidebar */
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: var(--childbg);
    border-top-right-radius: 20px;
}

.sidebar img {
    width: 180px;
    margin-bottom: 10px;
}

.sidebar .button {
    cursor: pointer;
    display: flex;
    border: 5px solid var(--childbg);
    background-color: var(--background);
    height: 30px;
}

.sidebar .button:hover .left-detail {
    margin: 0;
    padding: 0;
    width: 4px;
    height: 30px;
    background-color: var(--primary);
    box-shadow: 5px 0 5px -5px var(--primary);
}

.sidebar .button .left-detail {
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    width: 2px;
    height: 30px;
    background-color: var(--primary-alpha);
    box-shadow: 5px 0 5px -5px var(--primary-alpha);
}

.sidebar .button i {
    transition: all 0.9s;
    position: fixed;
    padding: 7px 10px;
    color: var(--primary-alpha);
}

.sidebar .button:hover i {
    color: var(--primary);
}

.sidebar .button h5 {
    transition: all 0.9s;
    position: fixed;
    padding: 9px 30px;
    color: var(--secondary);
    margin: 0;
    font-size: 10px;
    font-weight: 300;
}

.sidebar .button:hover h5 {
    color: white;
}


/* content */
.content {
    margin: auto;
    margin-left: 50px;
    width: 100%;
    height: calc(100vh - 100px);
}

.content .title {
    font-size: 1.4em;
    margin: 0;
    font-weight: 590;
    margin-left: 5px;
}

.content .title i {
    transition: all 0.5s;
    cursor: pointer;
    font-size: 0.7em;
    margin: 0;
    font-weight: 590;
    margin-right: 5px;
}

.content .title i:hover {
    color: var(--content-border);
    font-size: 0.7em;
    margin: 0;
    font-weight: 590;
    margin-right: 5px;
}

.content .desc {
    color: var(--content-border);
    font-size: 0.8em;
    padding: 10px 0;
    margin: 0;
    font-weight: 100;
    margin-left: 5px;
    margin-bottom: 5px;
}

.content .card {
    border-radius: 10px;
    border: 1px solid var(--childbg);
    background: rgba(0, 0, 0, 0.193);
    font-size: 1.4em;
    width: 500px;
    margin-bottom: 15px;
}

.content .card p {
    font-family: 'Source Code Pro', monospace;
    color: var(--content-border);
    font-size: 0.45em;
    padding: 15px;
    margin: 0;
    font-weight: 0;
}

.content .note {
    border-radius: 10px;
    border-left: 4px solid var(--content-border);
    border-right: 1px solid var(--childbg);
    border-bottom: 1px solid var(--childbg);
    border-top: 1px solid var(--childbg);
    background: rgba(0, 0, 0, 0.193);
    font-size: 1.4em;
    width: 500px;
    margin-bottom: 15px;
}

.content .note p {
    color: var(--content-border);
    font-size: 0.6em;
    padding: 5px 0 15px 15px;
    margin: 0;
    font-weight: 0;
    font-family: 'Inter', sans-serif;
}

.content .note .title {
    display: flex;
    margin: 0;
    padding: 0;
}

.content .note .title i {
    transition: all 0.5s;
    color: var(--secondary);
    font-size: 0.5em;
    margin: 0;
    font-weight: 0;
    margin-right: 5px;
    padding: 15px 0 0 13px;
}

.content .note .title i:hover {
    color: var(--content-border);
}

.content .note .title a {
    transition: all 0.5s;
    color: var(--secondary);
    font-size: 0.45em;
    margin: 0;
    font-weight: 0;
    margin-right: 5px;
    padding: 14px 0 0 0;
}