@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    box-sizing: border-box;
    background-color: #100c1b;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.main {
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/star.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: calc(100vw - 25px) calc(100vh - 30px);
}

::selection {
    background: #dad3e618;
}

/* sidebar */
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #18132A;
    border-top-right-radius: 20px;
}

.sidebar img {
    width: 180px;
    margin-bottom: 10px;
}

.sidebar .button {
    cursor: pointer;
    display: flex;
    border: 5px solid #18132A;
    background-color: #100c1b;
    height: 30px;
}

.sidebar .button:hover .left-detail {
    margin: 0;
    padding: 0;
    width: 4px;
    height: 30px;
    background-color: #4B2395;
    box-shadow: 5px 0 5px -5px #4B2395;
}

.sidebar .button .left-detail {
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    width: 2px;
    height: 30px;
    background-color: #4b239567;
    box-shadow: 5px 0 5px -5px #4b239567;
}

.sidebar .button i {
    transition: all 0.9s;
    position: fixed;
    padding: 7px 10px;
    color: #4b239567;
}

.sidebar .button:hover i {
    color: #4B2395;
}

.sidebar .button h5 {
    transition: all 0.9s;
    position: fixed;
    padding: 9px 30px;
    color: #b0a4c7;
    margin: 0;
    font-size: 10px;
    font-weight: 300;
}

.sidebar .button:hover h5 {
    color: white;
}


/* content */
.content {
    margin: auto;
    margin-left: 50px;
    width: calc(100% - 240px);
    height: calc(100vh - 100px);
}

.content .title {
    color: #b0a4c7;
    font-size: 1.4em;
    margin: 0;
    font-weight: 590;
    margin-left: 5px;
}

.content .title i {
    transition: all 0.5s;
    cursor: pointer;
    color: #b0a4c7;
    font-size: 0.7em;
    margin: 0;
    font-weight: 590;
    margin-right: 5px;
}

.content .title i:hover {
    color: #e6dafd;
    font-size: 0.7em;
    margin: 0;
    font-weight: 590;
    margin-right: 5px;
}

.content .desc {
    color: #d5c1f988;
    font-size: 0.8em;
    padding: 10px 0;
    margin: 0;
    font-weight: 100;
    margin-left: 5px;
    margin-bottom: 5px;
}

.content .card {
    border-radius: 10px;
    border: 1px solid #18132A;
    background: rgba(0, 0, 0, 0.193);
    font-size: 1.4em;
    width: 500px;
    margin-bottom: 15px;
}

.content .card p {
    font-family: 'Source Code Pro', monospace;
    color: #dad3e6;
    font-size: 0.45em;
    padding: 15px;
    margin: 0;
    font-weight: 0;
}

.content .note {
    border-radius: 10px;
    border-left: 4px solid #d5c1f988;
    border-right: 1px solid #18132A;
    border-bottom: 1px solid #18132A;
    border-top: 1px solid #18132A;
    background: rgba(0, 0, 0, 0.193);
    font-size: 1.4em;
    width: 500px;
    margin-bottom: 15px;
}

.content .note p {
    color: #dad3e6;
    font-size: 0.6em;
    padding: 5px 0 15px 15px;
    margin: 0;
    font-weight: 0;
    font-family: 'Inter', sans-serif;
}

.content .note .title {
    display: flex;
    margin: 0;
    padding: 0;
}

.content .note .title i {
    transition: all 0.5s;
    color: #b0a4c7;
    font-size: 0.5em;
    margin: 0;
    font-weight: 0;
    margin-right: 5px;
    padding: 15px 0 0 13px;
}

.content .note .title i:hover {
    color: #e6dafd;
}

.content .note .title a {
    transition: all 0.5s;
    color: #b0a4c7;
    font-size: 0.45em;
    margin: 0;
    font-weight: 0;
    margin-right: 5px;
    padding: 14px 0 0 0;
}